.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.diary-btn {
  width: 100px;
  background: #eaa6a6;
  text-align: center;
  border-radius: 15%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.diary-btn-text {
  color: #4a488e;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 5px;
}

.diary-btn-icon {
  width: 50%;
}